<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive design</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body>
    <main>
      <header class="full-view">
        <nav class="flex space-around flex-row navbar">
          <a href="#" class="logo">A_Res</a>
          <ul class="nav-items flex space-around flex-row">
            <li><a href="#">Home</a></li>
            <li><a href="#">Request a Demo</a></li>
            <li><a href="#">Plans</a></li>
            <div class="">
              <li><a href="#" class="btn btn-large">Login </a></li>
            </div>
          </ul>
          <div class="menu"><span class="stroke"></span></div>
        </nav>
        <div class="center-hero">
          <h3>A Project on Responsive Design, and Best Web Design Practices</h3>
          <p>Let's go</p>
          <a href="#" class="btn">Try Now!</a>
        </div>
      </header>
      <section class="mini-section flex space-around cta-style">
        <h3 class="text-auto">Don't miss out!</h3>
        <a href class="btn btn-large">Buy now</a>
      </section>
      <section class="mini-section flex space-around product-info">
        <h3>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
          enim, quibusdam dolore provident fuga consequuntur asperiores
          reprehenderit aut. Sit explicabo consequatur delectus saepe veritatis.
        </h3>
        <img src="../assets/stock-photo-68373401.jpg" alt="Sunset" />
      </section>
      <section class="mini-section flex space-around product-info">
        <img src="../assets/stock-photo-94153697.jpg" alt="Sunset" />
        <h3>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita
          enim, quibusdam dolore provident fuga consequuntur asperiores
          reprehenderit aut. Sit explicabo consequatur delectus saepe veritatis.
        </h3>
      </section>
    </main>
  </body>
</html>
