<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Layouts</title>
  </head>
  <body>
    <div class="container">
      <nav class="space-items">
        <a href="#" class="logo"></a>
        <ul class="nav-items">
          <li><a href="#">Home</a></li>
          <li><a href="#">Request a Demo</a></li>
          <li><a href="#">Plans</a></li>
          <div class="navbar-btns space-items">
            <li><a href="#" class="btn btn-white">Login</a></li>
          </div>
        </ul>
      </nav>
      <div class="hero">
        <div class="center">
          <p class="text">
            Want to take your business to
            <span class="space">Another</span> level?
          </p>
          <div class="hero-btns">
            <a href="#" class="btn btn-cta">Request a demo</a>
            <a href="#" class="btn btn-outline">Go Premium</a>
          </div>
        </div>
      </div>
      <div class="companies-list space-items">
        <div class="inner space-items">
          <div class="section-text">
            <p class="inner-text">Purple <span class="bottom-text">Glazed</span></p>
          </div>
          <div class="section-text-two">
            <p class="inner-text-two">
                Doughnuts Ice Grape Glaze <span class="inner-text-two small">$1.30</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
